.proud-moments-page {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}


.proud-moments-card {
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
  /* background-color: lightgray; */
}

.proud-moments-card-narrow {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
  /* background-color: lightgray; */
}

.right-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}