.team-member-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .team-member-card {
    flex-direction: column;
  }

  .left-content, .right-content {
    width: 100%;
  }
}


.team-member-card:hover,
.team-member-card.focused {
  opacity: 1;
  border-color: rgb(0, 176, 245);
}

.team-member-card:not(:hover) {
  opacity: 0.5;
}

.team-member-card:hover > .team-member-card-divider {
  border-color: rgb(0, 176, 245);
}

.team-member-card:hover .team-member-card-icon {
  border-color: rgb(0, 176, 245);
  filter: grayscale(0%);
  opacity: 0.7;
}

.team-member-card:hover .team-member-card-icon:hover {
  opacity: 1;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team-member-card-portrait {
  max-height: 40vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: 2px solid gray;
  border-radius: 4px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.team-member-card-icon {
  min-width: 40px;
  width: 3vw;
  padding: 5px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.team-member-card-icon:hover {
  transform: scale(1.2);
}

