.team-member-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}

.team-member-card:hover,
.team-member-card.focused {
  opacity: 1;
  border-color: rgb(0, 176, 245);
}

.team-member-card:not(:hover) {
  opacity: 0.5;
}

/* Not sure if this is applying at all, or if it's what I want (copied from another divider elsewhere), will check later. divider component is weird */
.team-member-card-divider {
  display: 'block'; 
  margin: '0 auto'; 
  height: 2; 
  max-width: 60;
}

.team-member-card:hover > .team-member-card-divider {
  border-color: rgb(0, 176, 245);
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team-member-card-portrait {
  max-height: 40vh;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  /* padding: 10px; */
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  width: 100%;
  /* border: 2px solid #ccc;
  border-radius: 4px; */
}

.team-member-card-icon {
  min-width: 40px;
  width: 3vw;
  /* margin: 10px; */
  /* border: 2px solid #ccc;
  border-radius: 2px; */
  padding: 5px;
  /* padding-left: 15px;
  padding-right: 15px; */
}

/* .team-member-card-icon.rounded-border {
  border-radius: 20px;
} */

/* 
@media (max-width: 768px) {
.team-member-card-portrait {
  max-width: 10%;
  margin: 20px;
} */
